* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.grid_cont {
    display: grid;
    grid-template-columns: 15% 85%;  /* 2 columns */
    grid-template-rows: auto 1fr;   /* 1 row for header, rest for content */
    height: 100vh;
}

.side_pannel {
    background-color: lightblue;
    padding: 20px;
}

.content {
    background-color: lightgreen;
    padding: 20px;
}

.header {
    grid-column: 1 / span 2;
    background-color: rgb(48, 48, 48);
    text-align: center;
    padding: 10px;
    display: grid;
    grid-template-columns: 20% 60% 20%;  /* 2 columns */
    /* height: 100%; */
}

.account img
{
    height: 39px;
    border-radius: 50%;
}

.account, .search, .logo
{
    display: flex;
    align-items: center;
}

.account
{
    justify-content: right;
    padding-right: 25px;
}

.search
{
    justify-content: center;
}

.logo
{
    justify-content: left;
}


.menu_button_img
{
    height: 33px;
}

.logo a, .menu_button
{
    border: none; 
    background: none; 
    padding: 0;
    padding-left: 20px;
}

.search_field
{
    width: 50%;
    height: 100%;
    border-radius: 16px;
    height: 32px;
    border: solid rgba(218, 218, 218, 0.217) 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_field input
{
    width: 90%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}