* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.grid_cont {
    display: grid;
    grid-template-columns: 15% 85%;  /* 2 columns */
    grid-template-rows: auto 1fr;   /* 1 row for header, rest for content */
    height: 100vh;
}

.side_pannel {
    background-color: #0f0f0f;
    padding: 20px;
}

.content {
    background-color: #0f0f0f;
    padding: 20px;
}

.header {
    grid-column: 1 / span 2;
    background-color: #0f0f0f;
    text-align: center;
    padding: 10px;
    display: grid;
    grid-template-columns: 20% 60% 20%;  /* 2 columns */
    /* height: 100%; */
}

.profile
{
    margin-left: 35px;
    height: 40px;
    border-radius: 50%;
}

.new_vieo
{
    height: 20px;
}

.account, .search, .logo
{
    display: flex;
    align-items: center;
}

.account
{
    justify-content: right;
    padding-right: 25px;
}

.search
{
    justify-content: center;
}

.logo
{
    justify-content: left;
}


.menu_button_img
{
    height: 33px;
}

.menu_button img
{
    height: 20px;
}

.logo a, .menu_button
{
    border: none; 
    background: none; 
    padding: 0;
    padding-left: 20px;
}

.search_field
{
    width: 50%;
    height: 100%;
    border-radius: 20px;
    height: 100%;
    border: solid rgba(218, 218, 218, 0.348) 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_field input
{
    width: 90%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1.1rem;
}

.side_pannel div
{
    height: 40px;
}

.side_pannel div a
{
    text-decoration: none;
}

.side_pannel_icon
{
    height: 20px;
    margin-right: 20px;
}

.side_pannel div span
{
    margin-right: 15px;
}

.side_pannel_button
{
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: .95rem;
    width: 100%;
    height: 100%;
    padding-left: 15px;
}

.side_pannel_button:hover
{
    background-color: #c9c9c958;
}

.side_pannel hr
{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 1px;
    border-width: 0;
    color: rgba(218, 218, 218, 0.348);
    background-color: rgba(218, 218, 218, 0.348);

}


[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background-image: url(res/menu_white2.png);
    background-size: 20px 20px;
  }