.page {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    margin-top: 100px;
}

$textColor: black;

.text
{
    color: $textColor;
    font-size: 1rem;
    font-weight: 400px;
}

.postcard
{
    display: flex;
    // align-items: center;
    justify-content: center;
    

    &__image-container
    {
        
    }

    &__text-container
    {
        margin-left: 40px;
        max-width: 400px;
    }

    &__card-image
    {
        max-width: 400px;
        border: #333 solid 1px;
        border-radius: 20px;
    }

    &__name-title
    {
        color: $textColor;
        font-size: 2rem;
        font-weight: 600;
    }

    &__description-paragraph
    {
        @extend .text;
        overflow-wrap: break-word;
        // color: red;
    }
    
    &__postcard__sign
    {
        @extend .text;
        text-align: right;
        font-size: 1rem;
    }
    
}